@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased !important;
  line-height: 1.3;
}

.Hero {
  height: 920px;
  background: url('../images/wallpaper3.jpg');
  background-size: cover;
  background-position: center;
}

.HeroGroup {
  max-width: 500px;
  margin: 0 auto;
  padding: 150px 50px;
  text-align: center;
}

.Hero h1 {
  margin: 0;
  color: white;
  font-size: 60px;
  line-height: 1.2;

  opacity: 0;
  animation: HeroAnimation;
  animation-duration: 3s;
  animation-delay: 0.1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.Hero p {
  font-size: 30px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);

  animation: HeroAnimation 3s 0.2s forwards cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
}

.Hero a {
  font-size: 17px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.7);
  padding: 9px 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  text-decoration: none;

  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.Hero a:hover {
  background-color: white;
  color: black;
}

@media (max-width: 640px) {
  .HeroGroup {
    padding: 100px 20px;
  }

  .Hero h1 {
    font-size: 40px;
  }

  .Hero p {
    font-size: 24px;
  }
}

@keyframes HeroAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
